
<html>
  <head>
    <!-- Credit to Shanimal on StackExchange for template code -->
    <title>Template Test</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Install jQuery and underscore -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.1.15.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>

    <!-- Create your template -->
    <script type="foo/bar" id="studyCard">
      <div style = "    padding-left: 10%; padding-right: 10%;">
          <div class = "container-fluid" id = "box" style ="
            border-style: solid;
            border-width: 1px;">
            <div class = "row">
              <div class = "col-sm-8">
                <h1><%= title %></h1>
              </div>
              <div class = "col-sm-4 text-right">
                <h2><%= pay %></h2>
              </div>
            </div>
            <div class = "row">
              <div class = "col-sm-offset-1 col-sm-11">
                <h2>Req: <%= reqs %> </h2>
              </div>
            </div>
            <div class = "row">
              <div class = "col-sm-6">
                <h3>Expires in: <%= exp %> days</h3>
              </div>
              <div class = "col-sm-6 text-right">
                <h3><%= dept %></h3>
              </div>
            </div>
          </div>
        </div>
    </script>

    <!-- Create your target -->

    <div id="target"></div>

    <!-- Write some code to fetch the data and apply template -->

    <script type="text/javascript">
      var items = [
        {title:"study title", pay:"$X", reqs:"some requirements", exp:"0", dept:"Blah Dept"}, 
        {title:"study title", pay:"$X", reqs:"some requirements", exp:"0", dept:"Blah Dept"}, 
        {title:"study title", pay:"$X", reqs:"some requirements", exp:"0", dept:"Blah Dept"}
      ];

      //var template = _.template($("#study-card").html());
      //$("#target").html(template({title:"study title", pay:"$X", reqs:"some requirements", exp:"0", dept:"Blah Dept"}));

      var temp = $("#studyCard").html();
      var us_temp = _.template(temp);
      var createCard = function(a) {$("#target").append(us_temp(a))};
      _.each(items, createCard);

      //var template = $("#studyCard").html();
      //$("#target").html(_.template(template,{items:items}));
    </script>
  </body>
</html>
