.cardpadding {
	padding-left: 5%; 
	padding-right: 5%;
}

.card {
	max-width: 900px;
	background-color: white;
	box-shadow: 0px 3px 10px #888888;
    z-index: 1;
}

.cardinfo {
    max-width: 900px;
    background-color: RGB(245,245,245);
	box-shadow: 0px 3px 10px #888888;
    z-index: -1;
}

.shadow {
    box-shadow: 0px 5px 5px #888888;
}

.cards {
    margin-top: 50px;
	padding-bottom: 200px;
}

body {
	background-color: RGB(222,222,222);
}

.filters {
    padding-top: 175px;
}

.header {
    position: fixed;
    z-index: 1;
	height: 150px;
	width: 100%;
	background-color: RGB(46,190,96);
}

#titleimg {
    height: 80%;
    max-width: 80%;
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 15px;
}

.pricecard {
	font-size: 8em;
    color: black;
}

.cardTitle {
    font-size: 4em;
	font-weight: bold;
}

.cardReq {
	font-size: 3em;
}

.cardBottom {
	font-size: 3em;
    font-style: italic;
}

.cardDescription {
    font-size: 3em;
    font-weight: bold;
}

.buttontext {
    font-size: 3em;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}*/